h1, h2, h3{
    text-align: center;
}
body {
    background-color:plum;
}
.navigation-links {

    display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;  
  background-color: white;
}
.mail {
    text-align: center;
}